.navbar {
  padding: 0 10px;
}

/* Header */
.header-style {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: var(--header-bg);
  color: var(--header-text);
  box-shadow: 0 3px rgba(252, 186, 25, 1);
}

.header-style .navbar-header {
  display: flex;
  margin-right:0;
}

.header-content {
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-content h2 {
  margin: 5px 5px 0 18px;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--header-text);
}

.header-content a {
  text-decoration: none;
  color: var(--link-text);
}

.header-content a:hover {
  text-decoration: none;
}

.BClogo {
  content: url("https://nrs.objectstore.gov.bc.ca/scgis/general_images/BCID_H_RGB_pos.png");
  border-right: 0px solid var(--borders-dividers);
  padding-right: 10px;
  width: 155px;
}

.BCLogo-link {
  margin-left: 10px;
  font-size:24px;
  font-weight:bold;
  color: var(--header-text) !important;
}

/* Navigation */

.menu-content, .navbar-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
}


.navbar-nav > li {
  margin-right: 10px;
  color: var(--header-text);
  padding: 0 0.5rem;
}

.navbar-nav > li:first-of-type {
    padding-left:20px;
}

.navbar-nav > li:not(:first-of-type) {
  border-left:1px solid var(--borders-dividers);
}

.navbar-nav .nav-item {
  margin: auto 0;
  color: var(--header-text);
}

.nav-item {
  padding:3px;
}

.navbar-nav .nav-item a {
  background: var(--header-bg);
  /*background: transparent;*/
  color: var(--link-text);
  font-size:16px;
  font-weight:500;
}

.navbar-nav .nav-link:hover {
  background:var(--borders-dividers);
  border-bottom: 0px solid var(--borders-dividers);
  border-radius:10px;
}

.navbar-nav .nav-link:focus {
  background: var(--header-bg);
  border-bottom: 2px solid var(--borders-dividers);
  margin-bottom: -2px;
}

.navbar-nav .nav-item .nav-link{
  color: var(--link-text);
  margin-top: 0px;
}


/* Hamburger Menu */

.button-content {
  display: none;
}

.navbar-toggle-button {
  background-color: transparent;
  padding: 0 15px;
  border: 1px solid var(--dividers-borders);
  transition: 0.5s;
}

.hamburger-container {
  display: inline-block;
  cursor: pointer;
  z-index: 10;
}

.hamburger-container .bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: var(--link-text);
  margin: 8px 0;
}

/* Dropdown Menu */

.dropdown-menu {
  margin-top: 2px;
  background-color: var(--header-bg);
  border: 1px solid var(--borders-dividers);
  color: var(--header-text);
  z-index: 2;
  font-size: 16px;
}

.dropdown-menu li > a {
  color: var(--link-text) !important;
}

.dropdown-menu li > a:hover {
  background-color: var(--borders-dividers);
}

.dropdown:hover .dropdown-menu {
  display: inline-block;
  }
  
  
/* Request Button */

.headbutton-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 20px;
}

.headbutton {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1.5px solid;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.headbutton:last-child {
  margin-bottom: 0;
}

.geospatial-headbutton:hover {
  background-color: #1a5a96;
  color: white;
  border: 1.5px solid #003366;
  text-decoration: none;
}

.client-headbutton:hover {
  background-color: #cd9600;
  color: #003366;
  border: 1.5px solid #003366;
  text-decoration: none;
}

.geospatial-headbutton {
  background-color: #003366;
  border-color: #003366;
  color: white;
}

.client-headbutton {
  background-color: #fcba19;
  border-color: #fcba19;
  color: #003366;
}


/* MODAL START */

.modal.right .modal-dialog {
  position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
          -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    width: 100%;
}

.modal.right .modal-body {
  height: 100%;
  background-color: var(--header-bg);
  padding: 15px 15px 80px;
}
      
/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
    background-color: unset;
}

.modal-header {
    border-bottom-color: var(--borders-dividers);
    background-color: var(--borders-dividers);
    padding: 0;
}

  .modal-link {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    height: 250px;
    width: 100%;
  }
  

  .modal-link a {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 18px;
    color: var(--link-text);
  } 
  
  .modal-link .level-02-link {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--link-text);
    margin-top: 10px;
    margin-bottom: 10px;
  } 
  
  
  
  .overview {
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: var(--header-bg);
  }
  
  .nav-link-container {
    height: 90%;
    width: 75%;
    margin: auto;
  }
  
  .button-content-mobile {
    display: flex;
    margin-left: auto;
  }
  
  .button-content-mobile .close span{
    width: 35px;
    padding: 15px;
    font-size: 50px;
    color: var(--link-text);
  }
  
  
@media only screen and (max-width: 1280px){
  .navbar{
    padding: 0 12px 0 25px;
  }

  .BClogo {
    content: url("https://nrs.objectstore.gov.bc.ca/scgis/general_images/BCID_V_RGB_pos.png");
    width: 80px;
  }

  .button-content {
    display: flex;
    margin-left: auto;
  }
  
  .menu-content {
    display: none !important;
  }
  
  .navbar-nav {
    display: none !important;
  }
  
  .header-style .header-content .bcgov-logo {
    display: none !important;
  }
}
  
@media only screen and (max-width: 992px){
  .nav-link-container {
    /*height: 98%;*/
    height: calc(100vh - 88px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 50px 10px 50px 10px;
  }
  
  .modal-link {
    height: 100%;
    margin-bottom: 20px;
  }

  .beta-banner p {
    text-align: center;
  }
  
  .headbutton-container {
  display: none;
}
}
